#PyCharm
.idea/

.cache
*.sqlite
*.egg
*.egg-info
*.pyc
__pycache__
*$py.class
*~
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
